<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Keith McDonald Plumbing</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
{% block content %} {% endblock %}
</body>
</html>