/*
 AA3939 red
 AA6C39 tan
 226666 blue
 2D882D green
*/
/*
.wrapper {
    margin: 0 auto;
    width: 100px;
    text-align: center;
}*/
@import url(https://fonts.googleapis.com/css?family=Lato);
body {
  background-color: #306187;
  background-image: url("img/water.jpg");
  background-size: 100%;
  font-family: 'Lato', sans-serif;
}
h1 {
  color: #AA3939;
}
.wrapper {
  margin: 0 auto;
  text-align: center;
  background-color: #D8AC71;
  width: 75%;
  padding: 25px;
}
ul {
  list-style-position: inside;
}
ul .nobul {
  list-style-type: none;
}
#question {
  font-weight: bold;
  color: #4D708B;
}
#calltoaction {
  color: #2D882D;
  text-decoration: underline;
}
figure .logo {
  width: 200px;
}
