/*
 AA3939 red
 AA6C39 tan
 226666 blue
 2D882D green
*/

/*
.wrapper {
    margin: 0 auto;
    width: 100px;
    text-align: center;
}*/

@red: #AA3939;
@tan: #D8C371;
@darktan: #D8AC71;
@blue: #4D708B;
@darkblue: #306187;
@green: #2D882D;
@purple: 615795;

body {
  background-color: @darkblue;
  background-image: url("img/water.jpg");
  background-size: 100%;
  font-family: 'Lato', sans-serif;
}

h1 {
  color: @red;
}

header {
  .title {
    text-align: center;
  }
}

nav {
  line-height:30px;
  height:300px;
  width: 20%;
  float:left;
  padding:2px;
  background-color: @darktan;
}

#main {
  width: 78%;
  float:left;
  padding:10px;
  background-color: @darktan;
}

.wrapper {
  margin: 0 auto;
  text-align: center;
  width: 75%;
  padding: 25px;
}

ul {
  list-style-position: inside;
  .nobul {
    list-style-type: none;
  }
}

#question {
  font-weight: bold;
  color: @blue;
}

#calltoaction {
  color: @green;
  text-decoration: underline;
}

figure{
  .logo {
    width: 200px;
  }
}

@import url(https://fonts.googleapis.com/css?family=Lato);